<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Результаты взлома</title>
</head>
<body>
    <h1>Результаты взлома для пользователя {{ username }}</h1>
    {% if results %}
        <ul>
            {% for result in results %}
                <li>Сдвиг: {{ result.shift }}, Расшифрованный текст: {{ result.decrypted_text }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Неверные данные.</p>
    {% endif %}
    <a href="/lobby" >Назад</a>
</body>
</html>
